


<div class="welcome_background">



<div class="eye_contain">
        <img class="eye" src="/assets/woods_report_cover.png" alt="tree lions" />
    </div>

    <div class="eye_contain">
        <img class="eye" id="special_eye" src="/assets/eye_animated.gif" alt="lion eye" />
    </div>

</div>
